body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(90deg, rgba(1,190,241,1) 0%, rgba(167,63,119,1) 48%);
}

.container-egg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

h1{
    display: flex;
    justify-content: center;
    height: 10%;
    color: white;
    font-size: 3rem;
}
.egg-image{
    width: 80%;
}
@media (max-width: 340px) {
    h1{
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .egg-image{
        width: 70%;
    }
}
@media (min-width: 1024px) {
    .egg-image{
        width: 50%;
    }
}
@media (min-width: 1440px) {
    .egg-image{
        width: 50%;
    }
    .container-egg{
        height: 38rem;
    }
}

.button {
        display: flex;
        background-color: #4CAF50; /* Green */
        border-radius: 10px 20px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        border-color: transparent;
}

.energy {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

.container-button {
    display: flex;
    justify-content: center;
}



